<html>
	<head>
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/text.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/960.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/ui-darkness/jquery-ui-1.8.7.custom.css" type="text/css" />
		<script src="/static/js/jquery-1.4.4.min.js" type="text/javascript"></script>
		<script src="/static/js/jquery-ui-1.8.7.custom.min.js" type="text/javascript"></script>
		<title>LuxFire Administration{% block title %}{% endblock %}</title>
	</head>
	<body class="ui-widget-content">
	
	<div class="container_12" id="layout_header" style="margin-top:12px;margin-bottom:12px;overflow:auto;">
		<div class="grid_12">
			<span style="float:left">
				<img src="/static/img/logos/logo_luxrender.png" alt="LuxRender" />
			</span>
			<span style="float:right">
				<img src="/static/img/logos/logo_luxfire.png" alt="LuxFire" />
			</span>
		</div>
	</div>
	
	<div class="container_12" id="layout_nav" style="clear:both;">
		{% block nav %}{% endblock %}
	</div>
	
	<div class="container_12" id="layout_main" style="clear:both;">
		{% block content %}{% endblock %}
	</div>
	
	<div class="container_12" id="layout_footer">
		<div class="grid_12" style="text-align: center; color: #444444; font-size: smaller">
			LuxFire and LuxRender are free software, released under the GPL license.
			See <a href="http://www.luxrender.net/">www.luxrender.net</a> for more info.
		</div>
	</div>
	
	{% block tail %}{% endblock %}
	</body>
</html>