<button id="dispatcher_queue_reload" style="float:right;">Refresh</button>

<h2 style="clear:both;">{{ dispatcher }}</h2>
<table id="dispatcher_queue" width="100%">
	<thead>
		<tr>
			<th align="left">ID</th>
			<th align="left">Date</th>
			<th align="left">User</th>
			<th align="left">Job Name</th>
			<th align="left">Job Path</th>
			<th align="left">Status</th>
			<th align="left">Status Message</th>
		</tr>
	</thead>
	{% for q in queue %}
	<tr>
		<td>{{ q.id }}</td>
		<td>{{ q.date }}</td>
		<td>{{ q.user.email }}</td>
		<td>{{ q.jobname }}</td>
		<td>{{ q.path }}</td>
		<td>{{ q.status }}</td>
		<td>{{ q.status_data }}</td>
	</tr>
	{% endfor %}
</table>

<script>
$(function(){
	$('#dispatcher_queue_reload').button({
		icons: {
			primary: 'ui-icon-arrowrefresh-1-e'
		}
	}).click(function()
	{
		$('#dispatcher_queue').parent().load(
			'/dispatcher'
		);
		
		$(this).blur();
		return false;
	});
	
});
</script>