{% extends "base.html" %}
{% block nav %}
		<div class="grid_12" id="nav">
			<div style="float:right;"><a href="/user/logout">Log out</a></div>
		</div>
{% endblock %}
{% block content %}
		<div class="grid_12" id="main_tabs">
			<ul>
				<li><a href="/users"><span>User Management</span></a></li>
				<li><a href="/user/jobs"><span>Your Jobs</span></a></li>
				<li><a href="/dispatcher"><span>Dispatchers</span></a></li>
				<li><a href="/renderer"><span>Renderers</span></a></li>
			</ul>
		</div>
{% endblock %}
{% block tail %}
	<script type="text/javascript">
		$(function(){
			$('#main_tabs').tabs({});
		});
	</script>
{% endblock %}