{% extends "base.html" %}
{% block title %} - Log In{% endblock %}
{% block content %}
		<div class="ui-widget" id="login_form" style="text-align:center;">
			<div class="ui-widget-content">
				<h2>Log In</h2>
				<form action="/user/login" method="POST">
					<fieldset>
						<label for="email"><span style="width:150px;">Username: </span></label>
						<input name="email" id="email" class="ui-state-default" />
						<br />
						<label for="password"><span style="width:150px;">Password: </span></label>
						<input name="password" id="password" type="password" class="ui-state-default" />
						<br /><br />
						<input type="submit" class="ui-state-highlight" value="Log In" />
					</fieldset>
				</form>
			</div>
		</div>
{% endblock %}