{% extends "base.html" %}
{% block title %} - Log In{% endblock %}
{% block content %}
		<div class="ui-widget" id="login_form" style="text-align:center;">
			<div class="ui-widget-content">
				<h2>Log In</h2>
				<form action="/user/login" method="POST">
					<div>
						<dl>
						<dt><label style="width:120px;" for="email">Username / Email: </label></dt>
						<dd><input name="email" class="ui-state-default" /></dd>
						
						<dt><label style="width:120px;" for="password">Password: </label></dt>
						<dd><input name="password" type="password" class="ui-state-default" /></dd>
						
						<dt><br /></dt>
						<dd><input type="submit" class="ui-state-highlight" value="Log In" /></dd>
						</dl>
					</div>
				</form>
			</div>
		</div>
{% endblock %}