<button id="user_queue_reload" style="float:right;">Refresh</button>
<button id="user_queue_new" style="float:right;">New Job</button>

<h2 style="clear:both;">Input Queue</h2>
{% if user_queue_length > 0 %}
<table id="user_queue" width="100%">
	<thead>
		<tr>
			<th align="left">ID</th>
			<th align="left">Date</th>
			<th align="left">Job Name</th>
			<th align="left">Halt SPP</th>
			<th align="left">Halt time</th>
			<th align="left">Status</th>
			<th align="left">Status Message</th>
			<th align="left">Actions</th>
		</tr>
	</thead>
	{% for q in user_queue %}
	<tr>
		<td>{{ q.id }}</td>
		<td>{{ q.date }}</td>
		<td>{{ q.jobname }}</td>
		<td>{{ q.haltspp if q.haltspp > 0 else '-' }}</td>
		<td>{{ q.halttime if q.halttime > 0 else '-' }}</td>
		<td>{{ q.status }}</td>
		<td>{{ q.status_data }}</td>
		<td>
			{% if q.status == 'NEW' %}<button id="uqu_{{ q.id }}" class="user_queue_upload">Upload files</button>{% endif %}
			{% if q.status == 'NEW' %}<button id="uqf_{{ q.id }}" class="user_queue_finalise">Submit</button>{% endif %}
			{% if q.status == 'READY' %}<button id="uqd_{{ q.id }}" class="user_queue_dequeue">Abort</button>{% endif %}
			
			{% if q.status == 'ERROR' %}<button id="uqr_{{ q.id }}" class="user_queue_reset">Reset</button>{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p><em>None found</em></p>
{% endif %}

<h2>Results Queue</h2>
{% if user_results_length > 0 %}
<table id="user_results" width="100%">
	<thead>
		<tr>
			<th align="left">ID</th>
			<th align="left">Date</th>
			<th align="left">Job Name</th>
			<th align="left">Status</th>
			<th align="left">Actions</th>
		</tr>
	</thead>
	{% for r in user_results %}
	<tr>
		<td>{{ r.id }}</td>
		<td>{{ r.date }}</td>
		<td>{{ r.jobname }}</td>
		<td>{{ r.status }}</td>
		<td>
			{% if r.status == 'RENDER_COMPLETE' %}<button id="urd_{{ r.id }}" class="user_result_download">Download</button>{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p><em>None found</em></p>
{% endif %}

<div id="user_queue_new_form" title="Create new Job" class="ui-helper-hidden">
	<div id="new_error" style="color:#CC0000;"></div>
	<form>
	<fieldset>
		<label for="new_jobname">Job Name:</label>
		<input type="text" name="new_jobname" id="new_jobname" class="text ui-widget-content" />
		
		<label for="new_haltspp">Halt SPP:</label>
		<input type="text" name="new_haltspp" id="new_haltspp" class="text ui-widget-content" value="-1" />
		
		<label for="new_halttime">Halt time:</label>
		<input type="text" name="new_halttime" id="new_halttime" class="text ui-widget-content" value="-1" />
	</fieldset>
	</form>
</div>

<div id="user_queue_upload" title="Upload scene data" class="ui-helper-hidden">
	<div id="upload_error" style="color:#CC0000;"></div>
	<p>Click or drag and drop files onto the area below to upload:</p>
	<div id="upload_area" style="background-color:#CCCCCC;border:4px solid #666666;"></div>
</div>

<script type="text/javascript">
$(function(){
	function reload_user_queue()
	{
		$('#new_jobname').val('');
		$('#new_haltspp').val(-1);
		$('#new_halttime').val(-1);
		$('#user_queue').parent().load(
			'/user/jobs'
		);
	}
	
	$('#user_queue_new_form').dialog('destroy');
	$('#user_queue_new_form').dialog({
		autoOpen: false,
		modal: true,
		resizable: false,
		buttons: {
			'Create': function() {
				$.post(
					'/user/queue_new',
					{
						jobname: $('#new_jobname').val(),
						haltspp: $('#new_haltspp').val(),
						halttime: $('#new_halttime').val()
					},
					function(data)
					{
						if (data.error)
						{
							$('#new_error').html(data.error);
						}
						else
						{
							$('#user_queue_new_form').dialog( "close" );
							reload_user_queue();
						}
					},
					"json"
				);
			},
			'Cancel': function() {
				$( this ).dialog( "close" );
			}
		}
	});
	$('#user_queue_new').button({
		icons: {
			primary: 'ui-icon-plus'
		}
	}).click(function()
	{
		$('#user_queue_new_form').dialog('open');
		$(this).blur();
		return false;
	});
	
	$('#user_queue_reload').button({
		icons: {
			primary: 'ui-icon-arrowrefresh-1-e'
		}
	}).click(function()
	{
		reload_user_queue();
		$(this).blur();
		return false;
	});

	var uploader = new qq.FileUploader({
		element: $('#upload_area')[0],
		action: '/user/queue_upload'
	});
	$('#user_queue_upload').dialog('destroy');
	$('#user_queue_upload').dialog({
		autoOpen: false,
		modal: true,
		resizable: false,
		buttons: {
			'Done': function() {
				$( this ).dialog("close");
			}
		}
	});
	$('.user_queue_upload').button({
		icons: {
			primary: 'ui-icon-document'
		}
	}).click(function()
	{
		uploader.setParams({
			q_id: $(this).attr('id').replace('uqu_','')
		});
		$('#user_queue_upload').dialog('open');
		$(this).blur();
		return false;
	});
	$('.user_queue_finalise').button({
		icons: {
			primary: 'ui-icon-check'
		}
	}).click(function()
	{
		$.post(
			'/user/queue_finalise',
			{
				q_id: $(this).attr('id').replace('uqf_','')
			},
			function(data)
			{
				if (data.error)
					show_message(data.error);
				else
					reload_user_queue();
			},
			"json"
		);
		reload_user_queue();
		
		$(this).blur();
		return false;
	});
	$('.user_queue_dequeue').button({
		icons: {
			primary: 'ui-icon-close'
		}
	}).click(function()
	{
		$.post(
			'/user/queue_dequeue',
			{
				q_id: $(this).attr('id').replace('uqd_','')
			},
			function(data)
			{
				if (data.error)
					show_message(data.error);
				else
					reload_user_queue();
			},
			"json"
		);
		reload_user_queue();
		
		$(this).blur();
		return false;
	});
	$('.user_queue_reset').button({
		icons: {
			primary: 'ui-icon-arrowreturnthick-1-w'
		}
	}).click(function()
	{
		$.post(
			'/user/queue_reset',
			{
				q_id: $(this).attr('id').replace('uqd_','')
			},
			function(data)
			{
				if (data.error)
					show_message(data.error);
				else
					reload_user_queue();
			},
			"json"
		);
		reload_user_queue();
		
		$(this).blur();
		return false;
	});

	$('.user_result_download').button({
		icons: {
			primary: 'ui-icon-arrowthickstop-1-s'
		}
	}).click(function()
	{
		$.post(
			'/user/result_download',
			{
				r_id: $(this).attr('id').replace('urd_','')
			},
			function(data)
			{
				if (data.error)
					show_message(data.error);
				else
					reload_user_queue();
			},
			"json"
		);
		reload_user_queue();
		
		$(this).blur();
		return false;
	});
});
</script>